<!DOCTYPE html>
<html>
<head>
<!-- <style>
#customer_list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#m td, #customer_list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customer_list tr:nth-child(even){background-color: #f2f2f2;}

#customer_list tr:hover {background-color: #ddd;}

#customer_list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(14, 156, 167);
  color: white;
}



</style> -->
</head>
<body>
    <div class='filter'><h3>Search : <input type='text'
      [(ngModel)]='listFilter'/> </h3></div> 
    
   <div class="container" [@ml]="length">

        <table id="customer_list" style="text-align: center" >
          <tr>
            <th>CUSTOMER ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>EMAIL ID</th>
            <th>***********</th>

          </tr>
          <tr *ngFor='let customer of searchedCustomers'>

            <td>{{customer.customerId}}</td>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.emailId}}</td>
            <td><button class="button button1" value="delete"(click)="deleteCustomer(customer.customerId)">DELETE CUSTOMER</button></td>
            
          </tr>
          
        </table>
   </div>
</body>

</html>

