<html>
<head>
    <title>Promo Generation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div style="text-align:center"> <h2>Promo Generation</h2></div>
    <form>
        <div id="couponform">
          <table class="coupontable" >
            
            <tr>
             
              <td><input type="hidden" class="form-control" name="promoId" [(ngModel)]="promo.promoId" ></td>
            </tr>
            <tr>
              <th> Promo Code:</th>
              <td><input type="text" class="form-control" name="promoCode" [(ngModel)]="promo.promoCode" placeholder="example: NEW300OFF" required></td>
            </tr>&nbsp;&nbsp;
            <tr>
                <th> Discount:</th>
              <td><input type="text"  class="form-control" name="discount" [(ngModel)]="promo.discount" placeholder="example: 500" required></td>
            </tr>&nbsp;&nbsp;
           <tr>
                <th> End date :</th>
              <td><input type="text" class="form-control" name="endDate" [(ngModel)]="promo.endDate" placeholder="dd-mm-yyyy" required></td>
            </tr>
           &nbsp;&nbsp;
            <tr>
              <td><button name="generatePromo" type="submit" class="button button1" (click)="addPromo()">Generate Promo</button></td>
            </tr>
          
          </table>
       </div>
    </form>
  
  </div>
</div>

</body>
</html>
