<h3>CAPSTORE BUSINESS ANALYSIS</h3>

<h5 align="center">(Period: **date1 to **date2)</h5>
<br>
<br>
<table align="center">
  <tr>
    <th>PRODUCT CATEGORY</th>
    <th>PURCHASE PRICE</th>
    <th>SALES PRICE</th>
    <th>PERCENTAGE SALES</th>
    <th>BEST SELLER</th>
  </tr>
   <tr *ngFor='let sales of salesAnalysis'>
    <td>{{ sales.productCategory }}</td>
    <td>{{ sales.productQuantity }}</td>
    <td>{{ sales.productSales }}</td>
    <td>{{ sales.salesPercent }}%</td>
    <td>{{ sales.merchant }}</td>
  </tr>
</table>
<br><br>